{% extends 'customer/common/layout.html'%}
{% block content %}
{% load static %}
<title>Ad Release | ChangePassword</title>


  <script type="text/javascript" src="{% static 'customer/login1/js/jquery-3.6.2.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'customer/login1/js/bootstrap.min.js' %}"></script>
<style >
  .img1
  {
    background-image: url("{% static 'customer/assets/img/a2.jpg'  %}");
  }

  body
{
  background-color: #fff;
}

section
{

  background-color: #fff;
}
.img2
{
  float: left;
  
}
.holediv
{
 
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.dob
{
  padding: 10px;
}

</style>

  

 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center img1">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Change Password</h2>
        <ol>
          <li><a href="/customer/home">Home</a></li>
          <li>Change Password</a></li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
       <section id="contact" class="contact">
        
        <br>
      <div class="container" data-aos="fade-up" data-aos-delay="100">

       

        <div class="row gy-4 mt-1 m-auto holediv">
          <div class="col-lg-6 img2">
            <img src="{% static 'customer/assets/img/img2.jpg'  %}" height="500" width="630">
            
          </div>


            <div class="col-lg-6 contact">
            <form action="/customer/ChangePassword_chk" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row gy-4">
                <div class="col-12 form-group">
                  <h3 class="text-warning ">Change Password !!</h3>
                  <br>
                  <input type="text" name="currentpass" class="form-control" id="pass" placeholder="Username" required>
                </div>
                <div>

                <input type="password" name="pass" class="form-control" id="cpass" placeholder="New Password" required>
                <br>
                </div>
                <div>

                <input type="password" name="cpass" class="form-control" id="cpass" placeholder="Confirm Password" required>
                
              </div>
              <div class="text-center">
                <input type="submit" name="submit" value="submit" class="btn btn-warning"></div>
            </div>
              <br>
             



               
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section>
  </main>
  {% endblock %}