{% load static %}
<style type="text/css">
  #footer
  {
    background-image: url("{% static 'customer/assets/img/a4.jpg' %}");
  }
</style>
<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>AD Release</h3>
              <p>
                A108 Ahmedabad<br><br>
                Gujarat<br>
                <strong>Phone:</strong> +91 6354621866<br>
                <strong>Email:</strong> shaikhsohail1311@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://twitter.com/explore" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="https://in.linkedin.com/company/linkedin" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/customer/home">Home</a></li>
              <li><a href="/customer/aboutus">About us</a></li>
              <li><a href="/customer/register">Register</a></li>
              <li><a href="/customer/">Login</a></li>
              <li><a href="/customer/contact">Contact</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Post Advertisement</a></li>
              <li><a href="#">Agencgies</a></li>
              
            </ul>
          </div><!-- End footer links column-->

          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>AD Release</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href="https://themewagon.com">AD Release</a>
        </div>
      </div>
    </div>

  </footer>