{% extends 'agency/common/layout.html'%}
{% block content %}
{% load static %}

<style>

	.form-control:disabled, .form-control:read-only {
    background-color: #252525;
    opacity: 1;
}
	label
	{
		
		color: #fff;
	}
</style>
<br><br>
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-10 col-xl-10 col-10 m-auto">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Agency Profile</h6>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label" style="background: #252525;">Agency Name</label>
                                    <label class="form-control">{{user.username}}</label>
                                    
                                </div>
                                
                                     

                                    <div class="mb-6">
                                    <label for="exampleInputPassword1" class="form-label">Email</label>
                                    <label class="form-control">{{user.email}}</label>
                                   
                                </div>
                                
                                <div class="mb-6">

                                    <label for="exampleInputPassword1" class="form-label">Agency Name</label>
                                    <label class="form-control">{{result1.agencyname}}</label>
                                   
                                   </div>


                                <div class="mb-6">
                                    <label for="exampleInputEmail1" class="form-label">Owner Name</label>
                                   <label class="form-control">{{result1.ownername}}</label>
                                   
                                   </div>

                                    <div class="mb-12">
                                    <label for="exampleInputPassword1" class="form-label">Address</label>

                                   <label class="form-control">{{result1.address}}</label>

                                </div>

                                <div class="mb-6">
                                    <label for="exampleInputEmail1" class="form-label">Contact</label>
                                    <label class="form-control">{{result1.contact}}</label>
                                   
                                   </div>

                                   <div class="mb-6">
                                    <label for="exampleInputEmail1" class="form-label">City</label>
                                    <label class="form-control">{{result1.city}}</label>
                                   
                                   </div>
                                   <div class="mb-6">
                                    <label for="exampleInputEmail1" class="form-label">State</label>
                                    <label class="form-control">{{result1.state}}</label>

                                     </div>
                                    <label for="exampleInputEmail1" class="form-label">Establish Date</label>
                                    <label class="form-control">{{result1.est_date}}</label>
                                   
                                   </div>
                                   <br>
                                    <label for="exampleInputEmail1" class="form-label">Registar Date</label>
                                    <label class="form-control">{{result1.reg_date}}</label>
                                     
                                       <br>
                                       <br>

                              <div class="col-3 m-auto">


                                
                                <a href="/agency/edit_profile/{{user.id}}"><input class="btn btn-danger" value="update"></a>
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <br><br>
                


{% endblock %}