{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}
<title>Ad Release | Customer</title>
<style type="text/css">
    #edit
    {
        color: blue;
    }
    #del
    {
        color: whitesmoke;
    }
</style>


<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Customer</h6>
                            <div class="table table dark">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Contact</th>
                                            
                                            <th scope="col">view more</th>
                                            
                                        </tr>
                                    </thead>
                                   {% for row in result%}
                                   <tr>
                                       <td>{{row.id}}</td>
                                       <td>{{row.user.first_name}}</td>
                                       <td>{{row.user.last_name}}</td>
                                       <td>{{row.user.email}}</td>
                                        <td>{{row.contact}}</td>
                                      
                                       <td><a href="/myadmin/customer_viewmore/{{row.id}}">viewmore</a></td>
                                       {% endfor %}
                                   </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
         <br>
        <br>
        <br>
        



{% endblock %}