{% extends 'myadmin/common/layout.html'%}
{% block content %}
{% load static %}

<div class="container-fluid pt-4 px-4">
	<br><br>
                <div class="row g-4">
                    <div class="col-10 m-auto">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Times Of India</h6>
                            <div class="table-responsive">
                                <table class="table">
                                <tbody> 
                                        <tr>
                                            <th scope="col-2">ID</th>
                                            <td>2</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">Agency Name</th>
                                            <td>Times Of India</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">Email</th>
                                            <td>timesofindia@gmail.com</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">Contact</th>
                                            <td>6689069896</td>
                                            
                                        </tr>

                                    	<tr>
                                            <th scope="col">Established Date</th>
                                            <td>12/11/2009</td>
                                            
                                        </tr>
                                    	<tr>
                                            <th scope="col">Address</th>
                                            <td>Pata Nahi Road</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">City</th>
                                            <td>Ahmedabad</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">State</th>
                                            <td>Gujarat</td>
                                            
                                        </tr>
                                        <tr>
                                            <th scope="col">Reg Date</th>
                                            <td>12/1/23</td>
                                            
                                        </tr>

                                        <tr>
                                            <th scope="col">Password</th>
                                            <td>timeofindia@1234</td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

{% endblock %}