{% load static %}
<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/myadmin/dashboard" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>AD Release</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{user.username}}</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">

                    <a href="/myadmin/dashboard" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/myadmin/agency" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Agency</a>


                    <a href="/myadmin/customer" class="nav-item nav-link"><i class="fa fa-solid fa-user me-2"></i>Customer</a>
                    <a href="/myadmin/admin_order" class="nav-item nav-link"><i class="fa fa-solid fa-money-bill me-2"></i>Orders</a>
                    <a href="/myadmin/inquiry_read" class="nav-item nav-link"><i class="fa fa-solid fa-money-bill me-2"></i>Inquires</a>
                    
                   
                    


                    <a href="/myadmin/feedback" class="nav-item nav-link"><i class="fa fa-solid fa-comment me-2"></i>Feedbacks</a>
                    <hr>
                    <a href="/myadmin/logout" class="nav-item nav-link"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
                   
                </div>
            </nav>
        </div>
        